<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973051939387-uvcmdss971gm1voggvbmaept3scl6t46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973051939387-uvcmdss971gm1voggvbmaept3scl6t46</string>
	<key>API_KEY</key>
	<string>AIzaSyApTyZ_wsTm_LgTHAd_sh9VMrsW70nNZFM</string>
	<key>GCM_SENDER_ID</key>
	<string>973051939387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pursuit.FirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-login-2df1b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-2df1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973051939387:ios:16800a76ac5c82a879aa1e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-login-2df1b.firebaseio.com</string>
</dict>
</plist>